// COLORS

// STANDARD
$color-black: #000;
$color-white: #FFF;

// PRIMARY
$color-primary-blue: #041E42;
$color-primary-gray: #63666A;

// SECONDARY
$color-secondary-blue-dark: #012169;
$color-secondary-blue-light: #003DA5;
$color-secondary-gray: #BBBCBC;
$color-secondary-tan: #D6D2C4;

// TERTIARY
$color-tertiary-blue: #00B5E2;
$color-tertiary-green: #64A70B;
$color-tertiary-red: #D50032;
$color-tertiary-crimson: #862633;
$color-tertiary-yellow: #F8E08E;

// ELEMENTS
// links
$color-link-default: $color-secondary-blue-dark;
$color-link-hover: $color-secondary-blue-light;