// VARIABLES

// FONTS
// headings - Arial | body - Times New Roman
$font-style-website-headings: "Times New Roman", Times, serif;
$font-style-website-body: Arial, Verdana, sans-serif;

// size
$font-size-website-default: 1.7rem; // Default Font Size
$font-h1-text-size: $font-size-website-default * 1.6;
$font-h2-text-size: $font-size-website-default * 1.5;
$font-h3-text-size: $font-size-website-default * 1.4;
$font-h4-text-size: $font-size-website-default * 1.3;
$font-h5-text-size: $font-size-website-default * 1.2;
$font-h6-text-size: $font-size-website-default * 1.1;