footer.website
  .site-footer
    .site-footer__contact
      p GEORGETOWN UNIVERSITY IN QATAR LIBRARY
      p Education City | P.O. Box 23689, Doha, Qatar 
      p Phone: +974-4457-8280
      p Email: guqlibrary@georgetown.edu
    .site-footer__logo
      a(href="https://www.georgetown.edu")
        img(src="images/footer-logo.png")