header.website
  .site-header
    .site-header__logobox
      .site-header__logo
        a(href="https://qatar.library.georgetown.edu")
          img(src="images/library-logo.png" alt="Library website")
      .site-header__website-title
        h1 Menu of Instruction Services
    .site-header__navigation
      a(href="/") Build a Class
      a(href="find.html") Retrieve your Class
      a(href="prebuilt.html") Class Examples
      a(href="services.html") Instruction Services