extends layouts/default.pug

block content
  main
    section.menu
      .menu__select-zone
        h2 Instruction Options
        p.instructions Choose which topics will be taught in the library session by dragging and dropping the modules from the left to the right columns. Change the duration for each topic according to your needs. The total duration of the library session will be shown at the bottom. Read more about 
          a(href="/services.html") library instructional services.
        .drop-zone-component__length-minutes
          input(type="text" placeholder="0").length-minutes-input#time-input
          p How long is your class in minutes?
        ul#instruction-cards.card-connect

      .menu__drop-zone.drop-zone
        header
          .drop-zone-component__title
            h2 Build Your Class
        section
          ul#instruction-cards-drop-zone.card-connect.bgImage
        footer
          .drop-zone-component__class-time
            p Class time
            input(type="text" value="0 / 0" readonly).class-time-input#time-counter
          .drop-zone-component__next-button
            button#menu-step-one Next Step