extends layouts/default.pug

block content
  main
    h1 Class Confirmation

    h4 Class Details

    h5#class-id

    p#course-title

    p#faculty-name

    p#date

    p#time

    p#students

    div#class-details
      p
        strong Class Details