extends layouts/default.pug

block content
  main
    section#display-view
      h1 Class Confirmation

      hr
      
      h4 Class Details
      
      span#class-id

      .class-details-view
        p
          strong Course Title: 
          span#get-course-title

        p
          strong Faculty Name: 
          span#get-faculty-name

        p
          strong Course Date: 
          span#get-date

        p
          strong Course Start Time: 
          span#get-time

        p
          strong Number of Students: 
          span#get-students

        hr

        div#get-class-details
          p
            strong Class Instruction Details