extends layouts/default.pug

block content
  main
    section#display-options
      h1 Find Your Class

      p Search using your name and course code

      #new-class
        ul#find-form.new-class__find
          li
            input(type="text" name="name" class="validate-this field-style field-split align-left" placeholder="Your Name ex. John Walsh" required)#faculty-name
            input(type="text" name="course" class="validate-this field-style field-split align-right" placeholder="Course Code ex. HIST 180" required)#course-name
          
          li
            input(type="button" value="Find Your Class")#class-find

            p.error.alert-text


    section#display-view
      h1 Your Class Details

      hr
      
      span#class-id

      .class-details-view
        p
          strong Course Title: 
          span#get-course-title

        p
          strong Faculty Name: 
          span#get-faculty-name

        p
          strong Course Date: 
          span#get-date

        p
          strong Course Start Time: 
          span#get-time

        p
          strong Number of Students: 
          span#get-students

        hr

        div#get-class-details
          p
            strong Class Instruction Details