extends layouts/default.pug

block content
  main.menu-home
    section.menu-home__hero
      .menu-home__hero-title 
        h1 Menu of Library Instructional Services

    section.menu-home__cta
      .menu-home__cta-introduction
        h4 Create, Customize, and Request Library Instruction
        p The library offers a range of instructional services. Use our 
          em 'build a class' 
          |tool to select unique instructional units and add them to a class for your students.
      .menu-home__cta-button
        button(onclick="window.location.href='/build.html';") Start Building a Class Now

    section.menu-home__specials
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/services.html")
            img(src="/images/instruction-menu-icons-list.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/services.html") Instructional Services Overview
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/prebuilt.html")
            img(src="/images/instruction-menu-icons-build.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/prebuilt.html") Prebuilt Class Examples
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/find.html")
            img(src="/images/instruction-menu-icons-find.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/find.html") Retrieve an Existing Class