extends layouts/default.pug

block content
  main.menu-home
    section.menu-home__hero
      .menu-home__hero-title 
        h1 Menu of Library Instructional Services
        
    section.menu-home__cta
      .menu-home__cta-introduction
        p As a GU-Q faculty member you can use this website to quickly put together a customized Library Instruction session for your class.
        p On the '
          strong
            a(href="https://menu.guqlibrary.georgetown.domains/build.html") Build a class
          |' page you will find a list of proposed modules with a description of their learning outcomes and activities. The drag-and-drop tool, along with a timer, make it easy to build a library session for a class. Select and combine the topics that fit your students' needs and your course objectives. After submission, a Subject librarian will contact you within 48 hours to further discuss the session you requested.
        p You can also choose ready-made lesson plans on the '
          strong
            a(href="https://menu.guqlibrary.georgetown.domains/prebuilt.html") Class examples
          |' page.
        p On the '
          strong
            a(href="https://menu.guqlibrary.georgetown.domains/services.html") Instruction Services
          |' page you can take a look at a detailed overview of the different instruction options librarians can teach your students.

      .menu-home__cta-button
        button(onclick="window.location.href='/build.html';") Start Building a Class Now

    section.menu-home__specials
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/services.html")
            img(src="/images/instruction-menu-icons-list.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/services.html") Instructional Services Overview
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/prebuilt.html")
            img(src="/images/instruction-menu-icons-build.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/prebuilt.html") Prebuilt Class Examples
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/find.html")
            img(src="/images/instruction-menu-icons-find.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/find.html") Retrieve an Existing Class
