extends layouts/default.pug

block content
  main.menu-home
    section.menu-home__hero
      .menu-home__hero-title 
        h1 Menu of Library Instructional Services
        
    section.menu-home__cta
      .menu-home__cta-introduction
        p As a GU-Q faculty member you can use this website to quickly put together a customized Library Instruction lesson plan for your class.
        p In the 'Build a class' page, the drag-and-drop modules tool along with a timer, help visualize the topics, learning outcomes and activities for a class. Easily select and combine the topics that most fit your students' needs and the subject of your course. After you submit your selection, your Subject librarian will contact you within a working day to further discuss your planned instruction.
        p An overview of the undergraduate research skills that librarians can teach to your students is available in the Instruction Services page. Here you will find detailed information about the learning outcomes and suggested learning activities for each research skill.
        ul
          li Go to the '
            strong
              a(href="https://menu.guqlibrary.georgetown.domains/build.html") Build a Class
            |' page to create your lesson plan now.
          li Take a look of all the different instruction options in the '
            strong 
              a(href="https://menu.guqlibrary.georgetown.domains/services.html") Instruction Services
            |' page.
          li You can also choose ready-made lesson plan in the '
            strong
              a(href="https://menu.guqlibrary.georgetown.domains/prebuilt.html") Class examples
            |' page.
      .menu-home__cta-button
        button(onclick="window.location.href='/build.html';") Start Building a Class Now

    section.menu-home__specials
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/services.html")
            img(src="/images/instruction-menu-icons-list.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/services.html") Instructional Services Overview
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/prebuilt.html")
            img(src="/images/instruction-menu-icons-build.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/prebuilt.html") Prebuilt Class Examples
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/find.html")
            img(src="/images/instruction-menu-icons-find.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/find.html") Retrieve an Existing Class
