extends layouts/default.pug

block content
  main
    h1 JQuery Testing

    ul
      li
        a(href="sortable-example.html") Sortable Example
      li
        a(href="prebuilt-example.html?cid=1") Pre-Built Example