extends layouts/default.pug

block content
  main.menu-home
    section.menu-home__hero
      .menu-home__hero-title 
        h1 Menu of Library Instructional Services
        
    section.menu-home__cta
      .menu-home__cta-introduction
        p GU-Q librarians are experienced in delivering a range of instruction services to assist faculty teaching at all levels and subjects.
        p As a GU-Q faculty member you can use this website to quickly create a personalized library instruction lesson plan for your class: you will find an overview of all the topics related to undergraduate research skills that librarians can teach your students/class.
        p Easily mix and match the topics that most fit your students’ needs and the subject of your course. The drag-and-drop modules tool along with a timer, help visualize the topics, learning outcomes and activities for a class.
        ul
          li Go to the ‘
            strong
              a(href="https://menu.guqlibrary.georgetown.domains/build.html") Build a Class
            |’ page/tab to create your lesson plan now.
          li Take a look of all the different instruction options in the ‘
            strong 
              a(href="https://menu.guqlibrary.georgetown.domains/services.html") Instruction Services
            |’ page/tab.
          li You can also choose ready-made lesson plan in the ‘
            strong
              a(href="https://menu.guqlibrary.georgetown.domains/prebuilt.html") Class examples
            |’ page/tab.
      .menu-home__cta-button
        button(onclick="window.location.href='/build.html';") Start Building a Class Now

    section.menu-home__specials
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/services.html")
            img(src="/images/instruction-menu-icons-list.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/services.html") Instructional Services Overview
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/prebuilt.html")
            img(src="/images/instruction-menu-icons-build.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/prebuilt.html") Prebuilt Class Examples
      article.menu-home__specials-item
        .menu-home__specials-item-icon
          a(href="/find.html")
            img(src="/images/instruction-menu-icons-find.png" alt="icon")
        .menu-home__specials-item-text
          h5 
            a(href="/find.html") Retrieve an Existing Class
