extends layouts/default.pug

block content
  main
    section#display-options
      h1 Prebuilt Class Examples

      p The classes listed below represent a suggested class. The class includes suggested topics to cover and how long the librarian will discuss each topic. Included in the instruction is time to have students do activities and use the skills they've learned.

      ul.prebuilt
        li 
          a(href="/prebuilt.html?cid=1") INAF 100 - Proseminar
        p.prebuilt-text Library instruction for Proseminar places focus on how to use the library and it's resources as well as fundamental research skills. The typical class includes examples of how to use the library's online resources and begin to think strategically in their research goals.

        li 
          a(href="/prebuilt.html?cid=2") GOVT 060 - Comparative Political Systems
        p.prebuilt-text Library instruction for GOVT 060 builds on skills students learn in proseminar with greater emphasis on forming strong research questions and doing thorough research using a variety of library resources.

        li 
          a(href="/prebuilt.html?cid=3") HIST 180 - US History I
        p.prebuilt-text Library instruction in history classes builds on skills students learn in proseminar and gives students substantial exposure to primary source research tools and techniques.

        li 
          a(href="/prebuilt.html?cid=4") LIB 100 - RefWorks/Zotero Training
        p.prebuilt-text Library instruction on how to use the citation and research tools RefWorks or Zotero.

        //- li 
        //-   a(href="/prebuilt.html?cid=5") LIB 101 - Multimedia Research
        //- p.prebuilt-text Library instruction on how to search for multimedia content and understand media-specific copyright and citation requirements.

    section#display-view
      h1 Class Details

      hr
      
      span#class-id

      .class-details-view
        p
          strong Course Title: 
          span#get-course-title

        p
          strong Faculty Name: 
          span#get-faculty-name

        p
          strong Course Date: 
          span#get-date

        p
          strong Course Start Time: 
          span#get-time

        p
          strong Number of Students: 
          span#get-students

        hr

        div#get-class-details
          h4 Class Instruction Details 
            span#total-time-review
