extends layouts/default.pug

block content
  main
    section#display-view-services
      h1 Instruction Services Overview

      p Faculty are welcomed to invite a subject librarian into your class for hands-on instruction in research skills and other information and digital literacies.

      h4 Teaching areas

      ul
        li How to identify useful information with advanced search strategies and techniques
        li How to find and access specialized materials such as primary sources and government publications
        li How to evaluate information
        li How to improve the research flow process with citation tools RefWorks & Zotero
        li How to use specialized software for projects, such as Omeka, Wordpress, Google Maps, ArcGIS etc.

      hr
      
      h4 Instruction Units & Details
      
      table#instruction-units
        //- thead
        //-   tr
        //-     th Title
        //-     th Description
        //-     th Default Time
        tbody

