.drop-zone-component__title {
  text-align: center;
  width: 100%;
  float: left;
  margin: 0 0 1rem;
}

.drop-zone-component__length-minutes {
  border: 2px dashed $color-secondary-gray;
  text-align: center;
  width: 100%;
  float: right;
  padding: 1rem 0;
  margin: 0.5rem 0 1rem;

  input {
    width: 6rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-color: $color-secondary-gray;
    margin-right: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin: 0.2rem 0;
  }
}

.drop-zone-component__class-time {
  text-align: left;
  width: 50%;
  float: left;

  input {
    margin: 2rem 0;
    float: left;
    width: 12rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-color: $color-secondary-gray;
    margin-left: 1rem;
  }

  p {
    margin: 2rem 0;
    float: left;
  }
}

.drop-zone-component__next-button {
  text-align: right;
  margin: 2rem 0;
  width: 50%;
  float: right;
}

.bgImage {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MDAgMjAwLjUyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MDAgMjAwLjUyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0E3QTlBQzt9Cgkuc3Qxe2ZvbnQtZmFtaWx5OiBBcmlhbCwgVmVyZGFuYSwgc2Fucy1zZXJpZjt9Cgkuc3Qye2ZvbnQtc2l6ZTo0OHB4O30KPC9zdHlsZT4KPHRleHQgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgMSAxMjMuMzMyIDU1Ljg5MjYpIj48dHNwYW4geD0iMCIgeT0iMCIgY2xhc3M9InN0MCBzdDEgc3QyIj5Ecm9wIHlvdXI8L3RzcGFuPjx0c3BhbiB4PSItNi4zMiIgeT0iNTcuNiIgY2xhc3M9InN0MCBzdDEgc3QyIj5JbnN0cnVjdGlvbjwvdHNwYW4+PHRzcGFuIHg9Ii02Mi42NiIgeT0iMTE1LjIiIGNsYXNzPSJzdDAgc3QxIHN0MiI+U2VsZWN0aW9ucyBIZXJlPC90c3Bhbj48L3RleHQ+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}

