.drop-zone-component__title {
  text-align: center;
  width: 50%;
  float: left;
}

.drop-zone-component__length-minutes {
  text-align: right;
  width: 50%;
  float: right;

  margin: 1rem 0;

  input {
    width: 6rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-color: $color-secondary-gray;
    margin-right: 1rem;
  }

  p {
    font-size: 1.25rem;
    margin: 0.2rem 0;
  }
}

.drop-zone-component__class-time {
  text-align: left;
  width: 50%;
  float: left;

  input {
    margin: 2rem 0;
    float: left;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    border-color: $color-secondary-gray;
    margin-left: 1rem;
  }

  p {
    margin: 2rem 0;
    float: left;
  }
}

.drop-zone-component__next-button {
  text-align: right;
  margin: 2rem 0;
  width: 50%;
  float: right;
}

.bgImage {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAwIDIwMC41MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTAwIDIwMC41MjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiNBN0E5QUM7fS5zdDF7Zm9udC1mYW1pbHk6J0FyaWFsLUJsYWNrJzt9LnN0Mntmb250LXNpemU6NDhweDt9PC9zdHlsZT48dGV4dCB0cmFuc2Zvcm09Im1hdHJpeCgxIDAgMCAxIDEyMy4zMzIgNTUuODkyNikiPjx0c3BhbiB4PSIwIiB5PSIwIiBjbGFzcz0ic3QwIHN0MSBzdDIiPkRyb3AgeW91cjwvdHNwYW4+PHRzcGFuIHg9Ii0yNS4zMiIgeT0iNTcuNiIgY2xhc3M9InN0MCBzdDEgc3QyIj5JbnN0cnVjdGlvbiA8L3RzcGFuPjx0c3BhbiB4PSItODIuNjYiIHk9IjExNS4yIiBjbGFzcz0ic3QwIHN0MSBzdDIiPlNlbGVjdGlvbnMgSGVyZTwvdHNwYW4+PC90ZXh0Pjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}






