// INSTRUCTION CARD
ul#instruction-cards {
  list-style: none;
  width: 96%;
}

ul.outcomes-review li {
  margin-left: 3rem;
}

#your-class {
  margin-top: -2rem;
}

#your-class ul {
  width: 800px;
}

.review-card {
  border: 2px solid $color-primary-gray;
  border-radius: 10px;
  background-color: $color-white;
  margin: 1.5rem 0;
  padding: 2rem;
  display: flex;
}

.instruction-card {
  $self: &;

  border: 2px solid $color-primary-gray;
  background-color: $color-white;
  margin: 1.5rem 0;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  transition: all 0.1s;

  // flexbox layout
  display: flex;

  &:hover {
    transform: translate(-2px, -2px) rotate(-0.5deg);
    box-shadow: 2px 2px 6px #CCC;
  }

  &__handle {
    flex: 0 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid lighten($color-secondary-gray, 15%);
    margin: 0.5rem 0 0.5rem 1rem;

    .dot-row {
      display: flex;
      
      .dot {
        margin: 4px;
        background-color: $color-primary-gray;
        width: 6px;
        height: 6px;
        border-radius: 100%;
      }
    }
  }
  
  &__content {
    flex: 1;

    display: flex;
    flex-direction: column;

    #{$self}__title {
      border-bottom: 1px solid lighten($color-secondary-gray, 15%);
      margin-bottom: 1.5rem;
    }

    #{$self}__description {
      
    }

    #{$self}__tools {      
      display: flex;
      align-items: center;
      justify-content: space-between;

      #{$self}__modal-link {
        a {
          text-transform: uppercase;
          font-size: 1.5rem;

          img {
            height: 2rem;
            margin: 0 6px;
          }
        }


        a:link,
        a:visited {
          color: darken($color-tertiary-red, 1%);
        }

        a:hover,
        a:active {
          color: $color-tertiary-red;
        }
      }

      #{$self}__time-default {
        p {
          font-size: 1.5rem;
          text-align: center;
        }

        input {
          width: 6rem;
          padding: 1rem;
          text-align: center;
          font-size: 2rem;
          border-radius: 0.5rem;
          border-color: $color-secondary-gray;
        }
      }
    }
  }
}

.card-connect {
  list-style: none;
}

li.ui-sortable-helper {
  background-color: lighten($color-secondary-gray, 30%);;
  box-shadow: 0 0 8px rgba(53,41,41, .8);
  transform: scale(1.015);
  z-index: 100;
}

li.ui-sortable-placeholder {
  background-color: lighten($color-secondary-gray, 20%);;
  box-shadow: inset 0 0 10px #000000;
}

.ui-state-highlight { 
  height: 2.1em; 
  line-height: 1.2em;
  background-color: lighten($color-secondary-tan, 20%);
  color: lighten($color-secondary-tan, 20%);
}

.ui-dialog-content {
  padding: 1rem;

  ul {
    margin-left: 3rem;
  }
}

section.menu {
  .ui-state-highlight { 
    height: 8em;
  }
}