doctype html
html
  include ../includes/head.pug
  
  body
    include ../includes/header.pug

    block content

    include ../includes/footer.pug

    script(src="scripts/vendor/jquery.js")
    script(src="scripts/vendor/jquery-ui.js")
    script(src="scripts/vendor/jquery.timepicker.js")
    script(src="scripts/vendor/jquery.ui.touch-punch.min.js")
    script(src="scripts/main.js")