#display-view {

  width: 1200px;
  padding: 1rem;
  margin-top: 1rem;

  .class-details-view {
  
    .instruction-details {
      margin-left: 1rem;
      margin-bottom: 2.5rem;
    }
  
    #get-class-details {
      margin-top: 1rem;
    }
  
    p {
      margin: 1rem 0;
    }
  }

  #class-id {
    display: none;
  }
}

#display-options {

  width: 1200px;
  padding: 1rem;
  margin-top: 1rem;

  ul {
    margin-left: 3rem;
  }
}