// FOOTER
footer.website {
  background-color: $color-secondary-blue-dark;

  // flexbox item
  flex: 0 20rem;
}

.site-footer {
  display: flex;
  justify-content: space-between;

  $self: &;

  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem 1rem 0;

  &__contact {
    flex: 1;

    p:first-child {
      font-weight: bold;
    }
  
    p {
      color: $color-white;
      font-size: 1.5rem;
    }
  }

  &__logo {
    flex: 1;
    text-align: right;
  }

}
